@import '../Variables.scss';


.Chart {
    display: grid;
    grid-template-columns: $gridColumns;
    grid-gap: $gridGap;

    tspan {
        font-family: $fontCourier;
        color: #000AFF !important;
    }


    &__DataTitle {
        font-family: $fontArchivo;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__ViewingLabel {
        font-family: $fontArchivo;
        text-transform: uppercase;
    }

    &__ButtonGroup {
        grid-column: 1;
        display: grid;
        place-items: center end;
        border-bottom: 1px solid black;
        width: max-content;
        place-self: start end;
        padding-bottom: 20px;
    }

    &__Button {
        @include Button;

        &--active {
            background-color: #fff;
            border: 1px solid blue;
            color: blue;
            box-shadow: 5px 5px rgba(255, 255, 255, 0.945);
        }
    }

    &__Chart {
        grid-column: 2;
    }



}