@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$fontArchivo: 'Archivo Black', sans-serif;
$fontCourier: 'Courier New', Courier, monospace;
$gridColumns: 30% 70%;
$gridGap: 50px;
$buttonBackground: rgba(255, 255, 255, 0.5);